# Ignore Visual Studio-specific files
.vs/
*.suo
*.user

# Ignore build outputs
./DotnetPgSQL.Application/bin
./DotnetPgSQL.Domain/bin
./DotnetPgSQL.Infrastructure/bin

./DotnetPgSQL.Application/obj
./DotnetPgSQL.Domain/obj
./DotnetPgSQL.Infrastructure/obj
/DotnetPgSQL.Web/bin/Debug/net8.0
/DotnetPgSQL.Web/obj
